#page2{
  position: relative;
}

.text-block2{
  width: 100%;
  font-size: 50px;
  font-family: times;
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
    opacity: .8;


}

#page3{
  position: relative
}

.text-block3{
  position: absolute;
   top: 20px;
   left: 20px;
   background-color: #FFC0CB;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   opacity: .5;
  }



#page4{
  position: relative;

}
.text-block4{
  position: absolute;
   top: 20px;
   left: 20px;
   background-color: #FFC0CB;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   opacity: .5;

}



.text-block5{
  position: absolute;
   bottom: 20px;
   right: 20px;
   background-color: #FFC0CB;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   opacity: .8;

}

#page3{
  position: relative;
}

.text-block3{
  width: 100%;
  font-size: 50px;
  font-family: times;
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
    opacity: .8;

}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
